.myAssessment {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  overflow-x: scroll;
}

.utilityIcons {
  display: none;
}

/* Responsiveness */
@media screen and (max-width: 872px) {
  .myAssessment {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .myAssessment {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .myAssessmentHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .utilityIcons {
    display: block;
  }
}
